{% extends 'base.html' %}
{% load static %}

{% block content %}
<!----About us start-->
    <div class="row aboutus py-2">
    
      <div class="col-sm-10 mx-auto">
        <div class="row px-3">
          
          <div class="col-sm-6">
              <p class="fs-3 px-3 text-center">ABOUT <b class="text-mycolor1">US</b></p>
            <p class="px-3 aboutcontent">At the heart of our e-learning platform is a bold vision to transform the way people learn, grow, and succeed. In a world that's constantly evolving, we believe education should be flexible, personalized, and inspiring.
               That’s why we’ve created a dynamic digital space where learners of all backgrounds can connect with skilled instructors, dive into interactive online classes, tackle real-world home projects, and explore a vast digital book library-all in one place. </p>

            <p class="px-3 aboutcontent">
Learning doesn't belong within walls it belongs everywhere. That’s the belief that drives our e-learning platform.
 We’ve built a space where passion meets possibility, where students aren’t limited by time, place, or pace.</p>
          </div>
          <div class="col-sm-6">
            <img src="{% static 'images/62F.webp' %}" class="img-thumbnail  imgabout" style="height:400px; width:550px;">
          </div>
        </div>
        <hr>
        <div class="row py-3">

           
            <div class="col-sm-6">
              <img src="{% static 'images/mission.jpeg' %}" class="img-thumbnail  imgabout" style="height:400px; width:550px;">
            </div>
            <div class="col-sm-6">
              <p class="fs-3 px-3 text-center">Our Vision <b class="text-mycolor1">& Mission</b></p>
              <p class="text-center" style="font-size:17px;">
                At <b> EDU FLEX, </b>our vision is to become a global leader in digital education empowering millions to unlock their full potential through accessible, innovative, and transformative learning experiences.
                 We envision a world where knowledge knows no boundaries and every individual, regardless of background, location, or age, has the opportunity to learn, grow, and thrive. 
              </p>
              <p class="text-centers">
                At <b>EDU FLEX,</b> our mission is to make high-quality education accessible, engaging, and effective for learners everywhere. We believe that learning should be a lifelong journey—and one that’s flexible, affordable, and personalized to fit every individual’s goals. 
             </p>
            </div>
        </div>
      </div>
    </div>
      <!----About us end-->

{% endblock %}
