{% extends 'base.html' %}
{% load static  %}
{% block content %}
    
 
<!----services start-->
    <div class="row serrvics py-3">
       <p class="text-center fs-3">Our <b class="text-mycolor1">Services</b></p>
       <div class="col-sm-10 mx-auto">
        <div class="row py-2">
            <div class="col-sm-4 d">
              <div class="card mx-auto shadow-lg border border-0">
                <div class="row g-0">
                  <div class="col-3">
                    <img src="{% static 'images/s1.jpeg' %}" class="img-fluid serviceimg">
                  </div>
                  <div class="col-md-9 ps-2 pt-1">
                    <span>✅ Expert-Led Online Courses </span><br/>
                    <span> High-quality, on-demand courses </span>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 d">
              <div class="card mx-auto shadow-lg border border-0">
                <div class="row g-0">
                  <div class="col-3">
                    <img src="{% static 'images/s2.jpeg' %}" class="img-fluid serviceimg">
                  </div>
                  <div class="col-md-9 ps-2 pt-1">
                    <span>✅ Personalized Learning Paths </span><br/>
                    <span> Custom learning journeys  </span>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 d">
              <div class="card mx-auto shadow-lg border border-0">
                <div class="row g-0">
                  <div class="col-3">
                    <img src="{% static 'images/s3.jpeg' %}" class="img-fluid serviceimg">
                  </div>
                  <div class="col-md-9 ps-2 pt-1">
                    <span>✅ Certification & Skill Badges </span><br/>
                    <span> Earn recognized certificates and digital badges  </span>
                    
                  </div>
                </div>
              </div>
            </div>
               <!-------------end-->
                   </div>
        <div class="row py-2">
            <div class="col-sm-4 d">
              <div class="card mx-auto shadow-lg border border-0">
                <div class="row g-0">
                  <div class="col-3">
                    <img src="{% static 'images/s4.jpeg' %}" class="img-fluid serviceimg">
                  </div>
                  <div class="col-md-9 ps-2 pt-1">
                    <span>✅ Career Guidance & Mentorship </span><br/>
                    <span> Access to career advice, resume reviews,  </span>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 d">
              <div class="card mx-auto shadow-lg border border-0">
                <div class="row g-0">
                  <div class="col-3">
                    <img src="{% static 'images/s5.jpeg' %}" class="img-fluid serviceimg">
                  </div>
                  <div class="col-md-9 ps-2 pt-1">
                    <span>✅ Quizzes, Projects & Assessments  </span><br/>
                    <span> Hands-on practice through interactive quizzes,  </span>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 d">
              <div class="card mx-auto shadow-lg border border-0">
                <div class="row g-0">
                  <div class="col-3">
                    <img src="{% static 'images/s6.jpeg' %}" style="height:100px;" class="img-fluid serviceimg">
                  </div>
                  <div class="col-md-9 ps-2 pt-1">
                    <span>✅ Mobile & Offline Access  </span><br/>
                    <span> Learn anytime, anywhere with mobile-friendly courses </span>
                    
                  </div>
                </div>
              </div>
            </div>
               <!-------------end-->
                   </div>
        <div class="row py-2 ">
            <div class="col-sm-4 d">
              <div class="card mx-auto shadow-lg border border-0">
                <div class="row g-0">
                  <div class="col-3">
                    <img src="{% static 'images/s7.jpeg' %}" class="img-fluid serviceimg">
                  </div>
                  <div class="col-md-9 ps-2 pt-1">
                    <span>✅ Corporate Training Solutions  </span><br/>
                    <span> Customized learning solutions  </span>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 d">
              <div class="card mx-auto shadow-lg border border-0">
                <div class="row g-0">
                  <div class="col-3">
                    <img src="{% static 'images/s8.jpeg' %}" class="img-fluid serviceimg">
                  </div>
                  <div class="col-md-9 ps-2 pt-1">
                    <span>✅ Community Support & Discussion Forums </span><br/>
                    <span> Join a vibrant learner community,  </span>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 d ">
              <div class="card mx-auto shadow-lg border border-0">
                <div class="row g-0">
                  <div class="col-3">
                    <img src="{% static 'images/s9.jpeg' %}" class="img-fluid serviceimg">
                  </div>
                  <div class="col-md-9 ps-2 pt-1">
                    <span>✅ Progress Tracking & Analytics  </span><br/>
                    <span> Track your learning journey </span>
                    
                  </div>
                </div>
              </div>
            </div>
               <!-------------end-->
                   </div>

                
          
         
        </div>
       </div>

    {% endblock%}